/**
*Settings
 */
$backgroundColor: #e6e6e6;
$bannerBackgroundColor: #304964;
$bannerFontColor: #f6b108;
$mainFont: 'Raleway', sans-serif;
$accentColor: #d57f00;
$hamburgerMenuColor: #000;

/**
*Tools
 */

@mixin clear {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

/**
*Generic
 */
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway/Raleway-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway/Raleway-ExtraLight.ttf');
  font-weight: 200
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway/Raleway-Light.ttf');
  font-weight: 300
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway/Raleway-Medium.ttf');
  font-weight: 400
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway/Raleway-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway/Raleway-SemiBold.ttf');
  font-weight: 600
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway/Raleway-Bold.ttf');
  font-weight: 700
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway/Raleway-Bold.ttf');
  font-weight: bold
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway/Raleway-Italic.ttf');
  font-style: italic;
}

html {
  background-color: $backgroundColor;
  font-family: $mainFont;
  font-size: 100%;
}

body {
  margin: 10px;
  width: 200px;
}

/**
*Base
 */

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: 2em;
}

header {
  background-color: $bannerBackgroundColor;
  color: $bannerFontColor;

  h1 {
    padding: .625em 0;
    margin: 0;
  }
}

label {
  margin: .55em 0;
  display: block;
  font-size: 1.125em;
  cursor: pointer;
}

input {
  font-size: 1.125em;
  padding: .25em .45em;
  outline: none;
  border: none;
  border-radius: .3em;
  display: block;
  width: 100%;

  &[type=checkbox] {
    width: inherit;
    display: inline;
  }
}

button {
  width: 75%;
  display: block;
  border: none;
  border-radius: .4em;
  padding: .75em;
  color: $backgroundColor;
  background-color: $accentColor;
  font-size: 1em;
  margin: .75em auto;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

/**
*Objects
 */

.margin {
  width: 85%;
  padding: 0 7.5%;
}

/**
*Components
 */

.hamburger-wrapper {
  cursor: pointer;
  margin-top: 1.3em;
  margin-right: .75em;
  float: right;
  position: relative;
  display: inline-block;
  min-width: 10%;
  height: 1.67em;

  .hamburger {
    transition: background .3s ease;
    position: absolute;
    top: 50%;

    width: 100%;
    height: 2px;

    background-color: $hamburgerMenuColor;

    &:before, &:after {
      transition: all .3s ease;
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      background-color: $hamburgerMenuColor;
    }

    &:before {
      top: -8px;
    }

    &:after {
      bottom: -8px;
    }
  }


  &:hover {
    .hamburger {
      background: transparent;

      &:before, &:after {
        top: 0;
        bottom: 0;
      }

      &:before {
        transform: rotate(-315deg);
      }

      &:after {
        transform: rotate(315deg);
      }
    }
  }
}

#search-header {
  float: left;
  width: 50%;
}

.search-bar {
  input {
    border: none;
    outline: none;
    border: 0;
    padding: .5em 5%;
    width: 90%;
    border-radius: .6em;
  }
}

.result-list {

  .results {
    padding: 0;
  }

  .result {
    padding: .5em;
    border: 1px solid #777;
    border-radius: 1em;
    margin: .5em 0;

    .title {
      margin: 0 0 .5em;

      a {
        color: $accentColor;
        font-weight: bold;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .description {
      margin-top: 0;
    }

    .tag-list {
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      .tag {
        cursor: pointer;
        color: white;
        flex-grow: 1;
        text-align: center;
        padding: .25em;
        margin: .2em;
        border-radius: .5em;
        font-weight: bold;
        background: $accentColor;
      }
    }

  }
}

.auth-form {
  width: 85%;
  margin: 0 auto;

  input, button {
    box-sizing: border-box;
  }
}

.new-link {
  width: 25%;
  font-size: 2em;
  padding: .25em;
}

/**
*Trumps
 */